body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input {
    border: 1px solid black
}

.wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    letter-spacing: 0.2em;
}

.wrapper>img {
    margin-bottom: 1rem;
}

#hex {
    font-size: 4rem;
    text-align: center;
}

canvas {
    display: none;
}